@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}


.grid-container {
    display: grid;
    margin-top: -25px;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: "header header header"
                        "left main right"
                        "left main right"
                        "footer footer footer";
    justify-content: center;
}

  /* SECTION HEADER */

.header {
    grid-area: header;
    padding: 2em;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    display: inline;
    vertical-align: middle;
    margin: 0px 5px;
    color: #333;
    font-weight: bold;
    font-size: 1em;
}

.header ul li {
    margin: 0px;
    list-style-type: none;
    display: inline;
    font-size: 1em;
}

.header ul li a {
    padding: 12px;
    color: #333;
    text-decoration: none;
}

.header ul li a:hover {
    color: #0f4c81;
    font-weight: bold;
    font-size: 1em;
}

.isotipo {
    width: 60px;
}


#logo a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

#logo a:hover {
    color: #333;
}

/* SECTION FOOTER */

.footer {
    grid-area: footer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    
}

.footer ul li {
    margin: 0px;
    list-style-type: none;
    display: inline;
    font-size: 1em;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #e5e5e5;
    text-decoration: none;
    font-weight: bold;
}

.footer img {
    width: 30px;
    margin: 5px;
}

.footer h6 {
    text-align: center;
}

.endereco {
    text-align: center;
}

.copyright {
    color: #fff;
    background-color: #666;
    text-align: center;
    width: 100%;
}

.copyright p {
    font-size: 1em;
}

/* SECTION ASIDE-LEFT */

.left {
    grid-area: left;
    background-color: #0f4c81;
    padding: 20px;
}

#usuario img {
    width: 130px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60%;
}

#sombra {
    border: 2px #fff solid;
    padding: 5px;
}

#explorar {
    text-align: left;
    color: #fff;
    padding: 10px;
}

#explorar h4 {
    padding: 10px 0px;
    margin: 10px 0px;
}

#explorar ul li {
    margin: 0px;
    list-style-type: none;
}

#explorar ul li a {
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9em;
}

#explorar ul li a:hover {
    color: #007592;
    font-weight: bold;
}

  /* SECTION ASIDE-RIGHT */

.right {
    grid-area: right;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.right h4 {
    padding: 10px 0px;
    margin: 10px 0px;
    color: #fff;
    text-align: center;
}

#cards-servicos {
    padding: 10px;
}

#cards-servicos img {
    width: 150px;
    margin: 10px;
}


  /* SECTION CONTEÚDO */

.main {
    grid-area: main;
    background-color: #ffffff;
    /* height: calc(100vh - 380px); */
}

.hashtags {
    display: flex;
}

#hashtags ul li {
    margin: 0px;
    list-style-type: none;
}

#hashtags ul li a {
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9em;
    background-color: #666;
    margin: 2px;
    padding: 1px;
    border-radius: 20px;
}

#hashtags ul li a:hover {
    color: #007592;
    font-weight: bold;
}


















